@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito", sans-serif !important;
}

:root {
  overflow-x: hidden;
  font-family: "Nunito", sans-serif !important;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #121212 !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif !important;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 5px; /* Width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Track background */
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1; /* Scrollbar handle */
  border-radius: 4px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8; /* Handle on hover */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }

  ::-webkit-scrollbar-thumb {
    background: #c1c1c1;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
  }
}

html {
  scroll-behavior: smooth;
}

/* For Safari and older browsers */
* {
  -webkit-overflow-scrolling: touch;
}
